/* =====================
VARIABLES
===================== */

:root{
--bg:#f4f6f9;
--card:#ffffff;
--text:#222;
--border:#ddd;
--primary:#3b82f6;
}

.dark{
--bg:#0f172a;
--card:#1e293b;
--text:#e5e7eb;
--border:#334155;
--primary:#60a5fa;
}

/* ===================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:var(--bg);
color:var(--text);
transition:.3s;
}

.container{
width:90%;
max-width:1000px;
margin:auto;
padding:20px;
}

/* HEADER */

.header-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

#theme-toggle{
width:45px;
height:45px;
border-radius:50%;
border:none;
cursor:pointer;
background:var(--primary);
color:white;
font-size:18px;
}

/* STATS */

.stats{
display:flex;
gap:20px;
margin-bottom:20px;
font-weight:bold;
}

/* CARDS */

.card{
background:var(--card);
padding:20px;
border-radius:12px;
margin-bottom:20px;
border:1px solid var(--border);
}

/* FORM */

form{
display:grid;
gap:10px;
}

input, textarea, select{
padding:10px;
border-radius:8px;
border:1px solid var(--border);
background:var(--card);
color:var(--text);
}

button{
padding:12px;
border:none;
border-radius:8px;
background:var(--primary);
color:white;
cursor:pointer;
}

/* BUSCADOR */

.search-box{
margin-bottom:15px;
}

.search-box input{
width:100%;
}

/* PRODUCTOS */

.item{
background:var(--card);
border:1px solid var(--border);
padding:15px;
border-radius:10px;
margin-bottom:10px;
}

.item-actions{
margin-top:10px;
display:flex;
gap:10px;
}

.delete{
background:#ef4444;
}

/* EMPTY */

#empty-state{
color:#888;
}